@media (max-width:768px){
    .top {
        padding:0 12px;
    }
    .about-item{
        width:100%;
    }
    .drink-items{
        width:100%;
    }
    .phan-hoi-item{
        width:100%;
        margin-bottom: 20px;
    }
    .nhansu-items{
        width:100%;
        margin-bottom: 50px;
    }
}