
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
html, body {
	width: 100%;
	height: 100%;
	font-family: 'DRoboto Mono';
	font-size: 18px;
	color: #ffffff;
    background-color: rgba(10,18,34,255);
}
:root{
    --main-color:#191919;
    --sub-color:#191F3A;
    --sub2-color:rgba(10,18,34,255);
    --text-color:#ffffff;
    --menu-color:#262223;
}
@keyframes btnAnimation{
    0%{
        opacity: 0.4;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity: 0.4;
    }
}
@keyframes Inout{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}

.navbar{
    background-color:var(--sub-color)  !important; 
    top:0 !important;
    position: fixed !important;
    width:100% !important;
}

.navbar li a{
    color:#ffffff !important;
}
.navbar li a:hover{
    color:#FBBC01 !important;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }
.navbar-toggler {
    border-color: rgb(255,255,255) !important;
  } 

.carousel-inner img{
    width:100%;
    animation: Inout 5s infinite;
}
.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color:#FBBC01 !important;
    border-color: var(--sub2-color) !important; 
    transition: all 0.5s ease;
    animation:btnAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.btn-primary:hover{
    background-color: var(--sub2-color) !important;
}
.btn-outline-light{
    border-color: var(--sub2-color) !important;
}
.btn-outline-light:hover, .btn-outline-light:active, .btn-outline-light:visited{
    background-color: var(--sub2-color) !important;
    color:#ffffff
}
.btn-primary:focus,
.btn-primary.focus, .btn-outline-light:focus, .btn-outline-light.focus {
    box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5) !important;
    
}
.carousel-caption{
    position: absolute;
    top:35%;
}
.carousel-caption h1{
    text-shadow: 5px 5px 15px #000;
    color: #fbbc01 !important;
}
h1::before{
    content:attr(data-title);
    display:block;
    color:#FBBC01;
    font-size:30px;
    font-family: 'Cambria';
}
.carousel-caption h3{
    text-shadow: 3px 3px 15px #000;
}


@media (max-width:992px){
    .carousel-caption{
        position: absolute;
        top:30%;
    }
    .carousel-caption h1{
        font-size: 220%;
    }
    .carousel-caption h3{
        font-size: 110%;
    }
    .carousel-inner button{
        font-size: 95%;
    }
    .jumbotron .jumbotron-item{
        width:100%;
    }
}
@media (max-width:768px){
    .carousel-caption{
        position: absolute;
        top:25%;
    }
    .carousel-caption h1{
        font-size: 220%;
    }
    .carousel-caption h3{
        font-size: 110%;
    }
    .carousel-inner button{
        font-size: 95%;
    }
    .jumbotron .jumbotron-item{
        width:100%;
    }
}
@media (max-width:576px){
    .carousel-caption{
        position: absolute;
        top:20%;
    }
    .carousel-caption h1{
        font-size: 220%;
    }
    .carousel-caption h3{
        font-size: 110%;
    }
    .carousel-inner button{
        font-size: 95%;
    } 
    .jumbotron .jumbotron-item{
        width:100%;
    }
}


.jumbotron{
    width:100%!important;
    display: flex !important;
    flex-wrap: wrap !important;
    background-color: var(--sub-color);
    padding:30px;
}
.jumbotron-item{
    width:calc(100%/2);
    padding:5px;
}
.jumbotron .jumbotron-item img{
    width:100%;
    border-radius: 10px;
    position: relative
}
.fa-journal-whills{
    color:#ffffff;
}
.fa-qurane{
    color:#ffffff;
}
.fa-book{
    color:#ffffff;
}
.welcome hr{
    border-top: 2px solid #ffffff;
    width:80%;
    margin-bottom: 2rem;
}
.about hr{
    border-top: 2px solid #ffffff;
    width:80%;
    margin-bottom: 2rem;
}
.nhansu hr{
    border-top: 2px solid #ffffff;
    width:80%;
    margin-bottom: 2rem;
}
.video{
    padding:auto;
    margin-top:80px;
    padding-top: 20px;
    background-color: var(--sub-color);
    padding-bottom: 40px;
}
.video img{
    border-radius: 10px;
}
.video hr{
    border-top: 2px solid #ffffff;
    width:80%;
    margin-bottom: 2rem;
}

.nhansu{
    margin-top:20px;
    padding-top: 20px;
}
.card{
    background-color: var(--sub-color);
}
.lienhe{
    background-color: var(--sub-color);
    margin-top:40px;
    padding-top: 20px;
    padding-bottom: 40px;
}
.lienhe a{
    font-size: 3em;
    padding:1em;
}



.fa-facebook {
	color: #3b5998;
}
.fa-twitter {
	color: #00aced;	
}
.fa-google-plus-g {
	color: #dd4b39;
}
.fa-instagram {
	color: #517fa4;
}
.fa-youtube {
	color: #bb0000;
}
