:root{
    --main-color:#191919;
    --sub-color:#FBBC01;
    --text-color:#ffffff;
    --menu-color:#262223;
    --black-color:black;
}
*{
    margin:0;
    padding:0;
    outline:none;
    box-sizing: border-box;
}
.chuchay{
    background-color: var(--main-color);
    width: 100vw;
    font-family: 'Cambria';
    position: relative;
    color: var(--text-color);
    animation:chudoimau;
    cursor: pointer;
    transition: all 0.5s ease;
    font-weight: bold;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes chudoimau{
    0%{
        color:var(--sub-color);
    }
    50%{
        color:var(--text-color)
    }
    100%{
        color: var(--sub-color);
    }
}
.chuchay-item marquee{
    font-size: 25px;
}
.btn{
    background-color: var(--sub-color);
    padding:15px 30px;
    border:2px solid var(--sub-color);
    border-radius: 50px;
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.5s ease;
    font-weight: bold;
    animation:btnAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes btnAnimation{
    0%{
        opacity: 0.4;
    }
    50%{
        opacity:1;
    }
    100%{
        opacity: 0.4;
    }
}
.btn:hover{
    background-color:transparent;
}
ul{
    list-style: none;
}
a{
    color: var(--text-color);
    text-decoration:none;
}
.section-pading{
    padding:80px 0;
}
.justify-content{
    justify-content: space-between;
}
.container{
    margin:auto;
    max-width:1200px;
}
.row{
    display:flex;
    flex-wrap:wrap;
}
.top{
    background-color:transparent;
    position: fixed;
    width:100vw;
    z-index:99;
    font-family: 'Cambria';
}
.top::before{
    content:"";
    display:block;
    position: absolute;
    width:100%;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
    transform: translateY(-100%);
    transition: all 0.5s ease;
}
.top.active::before{
    transform: translateY(0);
}
.top .logo img{
    width:50px;
}
.top .menu-bar{
    display:flex;
    justify-content:center;
    transition: all 0.5s ease;
    align-items: center;
}
.top .menu-bar.active{
    position: fixed;
    top:35px;
    right:0;
    transform:translateX(-200px);
    z-index:1;
}
.top .menu-bar span{
    display:block;
    height: 3px;
    width:40px;
    background-color:var(--text-color);
    position: relative;
    margin-right:13px;
}
.top .menu-bar.active span{
    background-color: transparent;
}
.top .menu-bar.active span::before{
    transform: rotate(-135deg);
}
.top .menu-bar.active span::after{
    transform: rotate(135deg);
}
.top .menu-bar span::before{
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    display:block;
    transform: translateY(-10px);
    background-color:var(--text-color);
    transition: all 0.5s ease;
}
.top .menu-bar span::after{
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    display:block;
    transform: translateY(10px);
    background-color:var(--text-color);
    transition: all 0.5s ease;
    align-items: center;
}
.menu-items{
    position: fixed;
    width:250px;
    height:100vh;
    right:0;
    top:0;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:100px 50px;
    transform:translateX(100%);
    transition: all 0.5s ease;
    background:rgba(0, 0, 0, 0.7);
    font-family: 'Cambria';
    padding-left:10px;
}
.menu-items.active{
    transform:translateX(0);
}
.menu-items a{
    color: var(--text-color);
    line-height: 40px;
    font-size:25px;
}
.menu-items a:hover{
    color:var(--sub-color);
}
.menu-items i{
    font-size: 25px;
    color: var(--sub-color);
    padding-right: 10px;
}

/*---------------------------------*/

.big-img{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
    position: relative;
    overflow: hidden;
    font-family: 'Cambria';
}
.big-img::before{
    content: "";
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    z-index: -2;
    animation: Inout 5s infinite;
}
@keyframes Inout{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}
.big-img::after{
    content: "";
    display:block;
    position: absolute;
    width:100%;
    height:100%;
    background-color: black;
    opacity:0.4;
    z-index: -2;
}
.big-img .big-img-content{
    text-align: center;
    max-width: 500px;
}
.big-img .big-img-content h1{
    font-size: 65px;
    color: var(--sub-color);

    text-shadow: 6px 6px black;
}
.big-img .big-img-content h2{
    font-size: 40px;
    color: var(--text-color);
}
.big-img .big-img-content p{
    font-size: 25px;
    color: var(--text-color);
    font-weight: bold;
    margin:15px 0;
    text-shadow: 3px 3px black;
}

/*----------------------------------------------*/
.about{
    background-color:var(--main-color);
    color:var(--text-color);
    width:100vw;
}
.section-title{
    width:100%;
    text-align: center;
    margin-bottom: 30px;
}
.section-title{
    font-size:30px;
    color:var(--text-color);
    font-family: 'Cambria';
}
.section-title h2::before{
    content:attr(data-title);
    display:block;
    color:var(--sub-color);
    font-size:25px;
    font-family: 'Cambria';
}
.about .about-item h2{
    color:var(--sub-color);
    margin-bottom: 30px;
    font-size:20px;
    font-family: 'Cambria';
}
.about .about-item p{
    font-size:16px;
    margin:15px 0 20px;
    font-family: 'Cambria';
}
.about .about-item img{
    width:100%;
    border-radius: 10px;;
}
.about-item{
    width:calc(100%/2);
    padding:15px;
}
.about-item-img{
    position: relative;

}
.about-item-img span{
    position: absolute;
    top:50%;
    left:50%;
    color:var(--black-color);
    font-weight: bold;
    font-size:25px;
    transform: translate(-50%,-50%);
    font-family: 'Cambria';
    box-shadow: 0 8px 16px 0 #ccc;
    background-color:rgba(253, 249, 249, 0.432);

}
.about-item-img::before{
    content:"";
    display:block;
    width:100px;
    height:100px;
    border:5px solid var(--sub-color);
    border-radius: 5px;
    position: absolute;
    top:calc(50% - 50px);
    left:calc(50% - 50px);
    transform: translate(-50%,-50%);
    animation: xoaytron 10s infinite;
}
@keyframes xoaytron{
    0%{transform:rotate(360deg);}
    50%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

/********************************************************/
.menu{
    background-color: var(--menu-color);
    width:100vw;     
    font-family: 'Cambria';
}
.menu-title{
    width:100%;
    text-align: center;
}
.menu-title .menu-button{
    background-color:transparent;
    margin:10px 12px;
    border:none;
    font-size:20px;
    color:var(--text-color);
    cursor:pointer;
}
.menu-title .menu-button.active{
    color: var(--sub-color);
}
.menu-title .menu-button:hover
{
    color: var(--sub-color);
}
.drink-items{
    width:50%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding :20px 15px;
    position:relative;
}
.drink-items::before{
    content:"";
    display:block;
    position: absolute;
    left:15px;
    right:15px;
    bottom: 0;
    border:1px dashed var(--main-color);
}
.drink-items:hover .drink-item p{
    color:var(--sub-color);
}
.drink-items:hover .drink-price p{
    color:var(--sub-color);
}
.drink-item {
    display: flex;
    align-items: center;
}
.drink-item img{
    width:100px;
    margin-right:25px;
}
.drink-item p{
    color:var(--text-color);
    transition: all 0.3 ease-in;
    font-size: 20px;
}
.drink-price p{
    color:var(--text-color);
    transition: all 0.3 ease-in;
}
.menu-item-content{
    display:none;
}
.menu-item-content.active{
    display:flex;
    flex-wrap:wrap;
}

.phan-hoi{
    background-color: var(--main-color);
    width:100vw;

}
.phan-hoi-items{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.phan-hoi-item{
    width:calc(100%/3 - 30px);
    margin: 0 15px;
    border:2px solid var(--menu-color);
    padding:15px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 #ccc;
}
.phan-hoi-item:hover img{ 
    border-color: var(--sub-color);
}
.phan-hoi-item span{
    color:var(--text-color);
}
.phan-hoi-item h2{
    font-size:20px;
    color:var(--text-color);

}
.phan-hoi-item p{
    color:var(--text-color);
    font-size:17px;
    margin:20px 0;
}
.phan-hoi-item img{
    width:100px;
    border-radius: 50%;
    border:4px solid var(--menu-color);
    transition: all 1s ease;
}
.phan-hoi-item-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.phan-hoi-item-star i{
    color: yellow;
}

/*--------------------------------------------------------*/
.nhansu{
    background-color: var(--menu-color);
    width: 100vw;
    font-family: 'Cambria';
}
.nhansu-items{
    padding:15px;
    width:calc(100%/3);
    position: relative;
}
.nhansu-items img{
    width:100%;
    border-radius: 10px;
    transition: all 0.5s ease;
}
.nhansu-items:hover .nhansu-items-text{
    background-color: var(--sub-color);
    transform: translateY(-15px);
}
.nhansu-items:hover img{
    transform: skewY(3deg)
}
.nhansu-items-text{
    position: absolute;
    padding:15px 0;
    right:15px;
    left:15px;
    bottom:0;
    background-color: var(--main-color);
    text-align: center;
    border-radius: 10px;
    transform: translateY(10%);
    transition: all 0.5s ease;
}
.nhansu-items-text h2{
    color: var(--text-color);
}
.nhansu-items-text span{
    color:var(--text-color);
}

/*--------------------------------------------------*/

.intro{
    background-color: var(--main-color);
    width: 100vw;
    font-family: 'Cambria';
}
.intro-item{
    align-items: center;
}
.intro-item video{
    width:100%;
    border-radius: 50px;
    border: 3px solid var(--sub-color);
}

/*--------------------------------------------------------*/
.footer{

    width:100vw;
    padding-top: 80px;
    position: relative;
    font-family: 'Cambria';
}
.footer-bg{
    position: absolute;
    width:100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/footer.jpg");
    top:0;
    z-index: -2;
}
.footer::before{
    position:absolute;
    content:"";
    width:100%;
    height: 100%;
    background-color: black;
    top:0;
    opacity:0.2;
    z-index: -1;
}
.footer-item{
    text-align: center;
    width:calc(100%/3);
}
.footer-item i{
    font-size: 25px;
    margin-right: 12px;
    color:var(--text-color);
    cursor: pointer;
    transition: var(--sub-color);
}
.footer-item i:hover{
    color:var(--sub-color);
}
.footer h2{
    color:var(--text-color);
    font-size: 25px;
    margin-bottom: 12px;
}
.footer p{
    color:var(--text-color);
    margin: 12px 0;
}
.footer-copyright{
    text-align: center;
    padding:50px 0 12px;
    color:var(--text-color);
    margin-top: 20px;
    border-top:1px solid var(--text-color);
    
}

/*----------------------------------------------------------*/
.report{
    background-color: var(--menu-color);
    width:100vw;     
    font-family: 'Cambria';
    display: flex;
    padding: 50px 0;
}
.report-content-item{
    width:50%;
    padding :6px 12px;
}

.report-content-top input{
    height: 35px;
    width:100%;
    margin-bottom: 3px;
    
}
.report-content-bottom{
    padding: 6px 12px;
    text-align: center;
}
.report-content-bottom textarea{
    width:100%;
    height: 100px;
    border: none;
    outline: none;
    padding:12px;
}
.report-content-bottom button{
    margin-top : 20px;
}
.report-content-icon{
    width:33.3%;
    padding :6px 12px;
    text-align: center;
}
.report-content-icon p{
    color:#ffffff;
}

/*-----------------------button tang giam -----------------------*/
.buttons_added {
    opacity:1;
    display:inline-block;
    display:-ms-inline-flexbox;
    display:inline-flex;
    white-space:nowrap;
    vertical-align:top;
}
.is-form {
    overflow:hidden;
    position:relative;
    background-color:#f9f9f9;
    height:2.2rem;
    width:1.9rem;
    padding:0;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #ddd;
}
.is-form:focus,.input-text:focus {
    outline:none;
}
.is-form.minus {
    border-radius:4px 0 0 4px;
}
.is-form.plus {
    border-radius:0 4px 4px 0;
}
.input-qty {
    background-color:#fff;
    height:2.2rem;
    text-align:center;
    font-size:1rem;
    display:inline-block;
    vertical-align:top;
    margin:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:0;
    border-right:0;
    padding:0;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}
/*-----------------------------------------------------/

/*---------------------subweb--------------------------*/
.subweb{
    background-color:var(--menu-color);
    color:var(--text-color);
    width:100vw;
}
.subweb .subweb-item h2{
    color:var(--sub-color);
    margin-bottom: 30px;
    font-size:20px;
    font-family: 'Cambria';
}
.subweb .subweb-item p{
    font-size:16px;
    margin:15px 0 20px;
    font-family: 'Cambria';
}
.subweb .subweb-item img{
    width:100%;
    border-radius: 10px;;
}
.subweb-item{
    width:calc(100%/2);
    padding:15px;
}
.subweb-item-img{
    position: relative;

}
.subweb-item-img span{
    position: absolute;
    top:50%;
    left:50%;
    color:var(--black-color);
    font-weight: bold;
    font-size:25px;
    transform: translate(-50%,-50%);
    font-family: 'Cambria';
    box-shadow: 0 8px 16px 0 #ccc;
    background-color:rgba(253, 249, 249, 0.432);

}
.subweb-item-img::before{
    content:"";
    display:block;
    width:100px;
    height:100px;
    border:5px solid var(--sub-color);
    border-radius: 5px;
    position: absolute;
    top:calc(50% - 50px);
    left:calc(50% - 50px);
    transform: translate(-50%,-50%);
    animation: xoaytron 10s infinite;
}
@keyframes xoaytron{
    0%{transform:rotate(360deg);}
    50%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}